{% extends 'partials/base.html' %}
{% block title %} Staff Detail Page {% endblock %}

{% block content %}
	{% include 'partials/topnav.html' %}

	<div class="container">
		<div class="row my-5">
			<div class="col-md-4">				
			</div>
			<div class="col-md-8">
				<div class="card">
					<div class="card-header bg-info text-white">
						Profile Page
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-8">
								<span class="h4">Profile Information</span><a href="{% url 'user-profile-update' %}" class="float-right">Edit</a>
								<hr>
								<table class="table bg-white table-responsive">
									<tbody>
										<tr>
											<th scope="row">Name</th>
											<td>{{workers.username}}</td>
										</tr>
										<tr>
											<th scope="row">Email</th>
											<td>{{workers.email}}</td>
										</tr>
										<tr>
											<th scope="row">Phone</th>
											<td>{{workers.profile.phone}}</td>
										</tr>
										<tr>
											<th scope="row">Address</th>
											<td><address>
													{{workers.profile.address}}
												</address>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-md-4">
								<img src="{{workers.profile.image.url}}" alt="" class="img-thumbnail">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}