{% extends 'partials/base.html' %}
{% block title %} Staff Page {% endblock %}

{% block content %}
	{% include 'partials/topnav.html' %}

	<div class="container">
		<div class="row my-4">
			<div class="col-md-4"></div>
			<div class="col-md-8">
				<table class="table bg-white">
					<!-- <caption>table title and/or explanatory text</caption> -->
					<thead class="bg-info">
						<tr class="text-white">
							<th>#</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Address</th>
						</tr>
					</thead>
					<tbody>
						{% for worker in workers %}
						<tr>
							<td><a href="{% url 'dashboard-staff-details' worker.id %}" class="text-info">View</a></td>
							<td>{{worker.username}}</td>
							<td>{{worker.email}}</td>
							<td>{{worker.profile.phone}}</td>
							<td>{{worker.profile.address}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>		
	</div>
{% endblock %}